
@media screen and (max-width: 992px) {
  ion-card {
    width: 90vw;
    box-shadow: none;
    padding: 2%;
  }
}
ion-row {
  h1 {
    font-weight: bold;
  }
}
ion-footer {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  --ion-background-color: #26316d !important;
}

ion-toolbar:hover {
  --ion-background-color: #444d81 !important;
}


