<ion-content class="contactPage">
  <ion-grid style="margin-top: 10%">
    <ion-row>
      <ion-col>
        <div style="margin-top: 10%">
          <ion-card style="padding-left: 10%">
            <ion-list style="color: black">
              <ion-row><h1>Message</h1></ion-row>
              <ion-row><h2>Contact with Dr.Minh Huynh</h2></ion-row>
              <ion-row
                ><p>Please fill the form to send message to Dr.Minh</p></ion-row
              >
              <ion-button color="tertiary" shape="round"
                ><a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://docs.google.com/forms/d/e/1FAIpQLScqamd4EO5Inkdy47RM5mnRY1TOgphX7adraLCXjMQtwq2z_w/viewform?usp=sf_link"
                  style="color: white; text-decoration: none"
                  >Send Message</a
                ></ion-button
              >
            </ion-list>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card style="height: 350px; object-fit: cover">
            <ion-list style="color: black">
              <ion-row> <img src="../../../assets/contact.jpg" /></ion-row>
            </ion-list>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer style="text-align: center">
  <ion-toolbar color="featured">
    <ion-title>Copyright @2021 by CDCS</ion-title>
    <ion-card-subtitle
      ><i
        >For the Further information, please contact Dr.Minh Huynh</i
      ></ion-card-subtitle
    >
  </ion-toolbar>
</ion-footer>
