<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="end" name="grid-outline"></ion-icon>
      </ion-button>
      <p>Memorial</p>
      <ion-button>
        <ion-icon slot="end" name="grid-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon
          slot="start"
          name="search"
          aria-placeholder="search "
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button expand="block" shape="round" (click)="logout()"
        >Logout</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment scrollable value="1">
    <ion-segment-button value="1">
      <ion-label>Home</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>News</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>Events</ion-label>
    </ion-segment-button>
    <ion-segment-button value="4">
      <ion-label>Veterans</ion-label>
    </ion-segment-button>
  </ion-segment>
  <h3>Login as : {{user? user.userEmail:""}}</h3>
</ion-content>
