<ion-header [translucent]="true" class="ion-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="end" name="grid-outline"></ion-icon>
      </ion-button>
      <p style=" font-family: Arial, Helvetica, sans-serif;">Memorial</p>
      <ion-button>
        <ion-icon slot="end" name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">

    </ion-buttons>

    <ion-segment scrollable value="1">
      <ion-segment-button value="1">
        <ion-label>Home</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>News</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>Events</ion-label>
      </ion-segment-button>
      <ion-segment-button value="4">
        <ion-label>Veterans</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-buttons slot="end">
      <ion-button color="primary" expand="block" shape="round" expand="full" style="margin-right: 70px;"
      ><ion-icon name="person"></ion-icon> {{user? user.userFirstname:""}}</ion-button
      >
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="danger" expand="block" shape="round" style="margin-right: 15px;" expand="full" (click)="logout()"
      >Logout <ion-icon name="log-out"></ion-icon></ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h5>Here we gooo</h5>
</ion-content>

<ion-header>
