<ion-content>
  <h2 *ngIf="show" class="announcement">Recent Announcement!</h2>
  <ion-slides 
  [options]="slideOptions"
    pager="true"
    #slider
    (ionSlidesDidLoad)="slidesDidLoad(slider)">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/image01.jpg" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/image02.jpg" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/image03.jpg" />
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-grid style="margin-top: 7%">
    <ion-row>
      <ion-col>
        <div style="margin: 1%">
          <ion-card style="padding-left: 10%">
            <ion-list style="color: black">
              <ion-row style="text-decoration: solid"
                ><h1>Project CDCS</h1></ion-row
              >
              <ion-row><h2>Use of this project</h2></ion-row>
              <ion-row
                ><p>
                  Please Click below button to know about this project.
                </p></ion-row
              >
              <ion-button
                color="tertiary"
                shape="round"
                (click)="popClick($event)"
                >Learn more</ion-button
              >
            </ion-list>
          </ion-card>
        </div>
      </ion-col>
      <ion-col class="homePageImage">
        <div>
          <ion-card style="height: 350px; object-fit: cover">
            <ion-list style="color: black">
              <ion-row> <img src="../../../assets/story.jpg" /></ion-row>
            </ion-list>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border" style="text-align: center">
  <ion-toolbar style="color: white">
    <ion-title>Copyright @2021 by CDCS</ion-title>
    <ion-card-subtitle
      ><i
        >For the Further information, please contact Dr.Minh Huynh</i
      ></ion-card-subtitle
    >
  </ion-toolbar>
</ion-footer>
