ion-card {
  margin: 0;
  width: 100%;
  height: 630px;
  box-shadow: none;

  img {
    object-fit: cover;
    width: 100%;
  }
}
h2.announcement {
  color: black;
  padding-top: 3.5%;
  padding-bottom: 1%;
  margin: 0;
  background-color: yellow;
  text-align: center;
}
.swiper-slide-active {
  ion-card {
    img {
      transform: scale(1, 1);
    }
  }
}

.swiper-slide {
  transition: 1000ms all ease-in-out;
}
on-row {
  h1 {
    font-weight: bolder;
  }
}

@media screen and (min-width: 992px) {
  ion-card {
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
  ion-card {
    width: 100%;
    height: 280px;
    box-shadow: none;
    border-radius: 2px;

    img {
      width: 100%;
      height: 100%;
      transform: scale(1.1, 1.1) rotate(1deg);
      transition: 600ms all ease-in-out;
    }
  }
  ion-col.homePageImage {
    display: none;
  }
}
