<ion-content>
  <div>
    <ion-grid>
      <ion-row nowrap class="headers">
        <ion-col size="3" class="single-border"> Full Name </ion-col>
        <ion-col size="2" class="single-border"> Email </ion-col>
        <ion-col size="2" class="single-border"> Created </ion-col>
        <ion-col size="2" class="single-border"> Permission </ion-col>
        <ion-col size="3" class="single-border"> Action </ion-col>
      </ion-row>
      <div *ngFor="let item of user">
        <ion-row nowrap class="content" *ngIf="!item.isedit; else elseBlock">
          <ion-col size="3">
            {{item.firstname | titlecase}}{{" "}}{{item.lastname |titlecase }}
          </ion-col>
          <ion-col size="2"> {{item.email}} </ion-col>
          <ion-col size="2">
            {{item.createdTime | date: 'dd MMM YYYY'}}
          </ion-col>
          <ion-col size="2"> {{item.isApproved}} </ion-col>
          <ion-col size="3">
            <ion-button (click)="editUser(item)" color="primary" shape="square"
              >Edit
            </ion-button>
            <ion-button
              (click)="deleteUser(item.id)"
              color="danger"
              shape="square"
              >Delete</ion-button
            >
          </ion-col>
        </ion-row>

        <ng-template #elseBlock>
          <ion-row nowrap class="content">
            <ion-col size="3" class="single-border">
              {{item.firstname }}{{" "}}{{item.lastname}}
            </ion-col>
            <ion-col size="2" class="single-border"> {{item.email}} </ion-col>
            <ion-col size="2" class="single-border">
              {{item.createdTime | date: 'dd MMM YYYY'}}
            </ion-col>
            <ion-col size="2" class="single-border">
              <input
                type="checkbox"
                [(ngModel)]="item.isApproved"
                class="form-control"
              />
            </ion-col>
            <ion-col size="3" class="single-border">
              <ion-button
                color="warning"
                (click)="updateUser(item)"
                shape="square"
                >Update
              </ion-button>
              <ion-button
                color="danger"
                (click)="item.isedit = false"
                shape="square"
                >Cancel</ion-button
              >
            </ion-col>
          </ion-row>
        </ng-template>
      </div>
    </ion-grid>
  </div>
</ion-content>
