.headers {
  color: rgb(10, 10, 10);
  font-family :'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  word-wrap: break-word;
  margin-top: 3% ;

}

.border,
.single-border {
  border-bottom: 2px solid #989898;
  padding-top: 12px;
}
