<ion-content>
  <ion-card class="login-form">
    <ion-title>Sign in User</ion-title>
    <form>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input
          required
          type="email"
          [(ngModel)]="email"
          name="email"
        ></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input
          required
          type="password"
          [(ngModel)]="password"
          name="password"
        ></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" (click)="login()"
            >Login</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-list>
        <div style="text-align: center">
          <p>
            Don't have account? Register
            <a [routerLink]="['/register']">Here!</a>
          </p>
          <p>
            <a [routerLink]="['/forget-password']">Forget Password?</a>
          </p>
        </div>
      </ion-list>
    </form>
  </ion-card>
</ion-content>
