.register-form {
  margin: 0 35%;
  padding-top: 1cm;
  margin-top: 3cm;
}
@media (max-width: 922px) {
  .register-form {
    margin: unset;
  }
}

.Register {
  margin: 0 43%;
}
@media (max-width: 922px) {
  .register-form {
    margin: unset;
  }
}

ion-title {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}
