ion-content {
  --background: rgba(255, 255, 255, 0.944);
}

@media screen and (min-width: 992px) {
  h1.about {
    background-color: #1a30acb6;
    background-image: url("../../../assets/aboutBackground.svg");
    padding-bottom: 20%;
    border-radius: 5%;
  }
  ion-grid {
    margin-bottom: 10%;
    margin-top: -10%;
  }
  ion-card {
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  ion-grid {
    margin-bottom: 10%;
  }
  ion-card {
    height: 100%;
  }
}

ion-footer {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  --ion-background-color: #26316d !important;
}

ion-toolbar:hover {
  --ion-background-color: #444d81 !important;
}
