<ion-content>
  <div class="about">
    <h2
      style="
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: xx-large;
      "
    >
      Our Team
    </h2>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
        *ngFor="let item of Description"
      >
        <ion-card>
          <img src="{{item.Image}}" />
          <ion-card-header>
            <ion-card-title
              >Name:
              <a
                target="_blank"
                rel="noopener noreferrer"
                style="text-decoration: none; color: black; font-weight: bold"
                href="{{item.link}}"
                >{{item.Name | titlecase}}</a
              ></ion-card-title
            >
            <ion-card-subtitle> Position: {{item.Position}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p *ngIf="!item.showMore">{{trimString(item.Description,40)}}</p>
            <p *ngIf="item.showMore">{{item.Description}}</p>
            <a
              (click)="item.showMore = !item.showMore"
              *ngIf="item.Description.length> 40"
              >Show
              <span [innerHtml]="item.showMore ? 'less' : 'More'"> </span>
            </a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer style="text-align: center">
  <ion-toolbar color="featured">
    <ion-title>Copyright @2021 by CDCS</ion-title>
    <ion-card-subtitle
      ><i
        >For the Further information, please contact Dr.Minh Huynh</i
      ></ion-card-subtitle
    >
  </ion-toolbar>
</ion-footer>
