ion-content {
  --background: rgba(255, 255, 255, 0.944);
}

ion-card {
  max-width: 20%;
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 992px) {
  h1.about {
    background-color: #1a30acb6;
    background-image: url("../../../assets/aboutBackground.svg");
    padding-bottom: 20%;
    border-radius: 5%;
  }
  ion-grid {
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: -10%;
  }
}

@media screen and (max-width: 992px) {
  ion-grid {
    margin-bottom: 10%;
    margin-top: -10%;
  }
}

ion-footer {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  --ion-background-color: #26316d !important;
}

ion-toolbar:hover {
  --ion-background-color: #444d81 !important;
}
