<ion-content>
  <h1 class="about"></h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <img src="../../../assets/person.png" />
          <ion-card-header>
            <ion-card-subtitle>Position</ion-card-subtitle>
            <ion-card-title>Name</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota,
            Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="../../../assets/person.png" />
          <ion-card-header>
            <ion-card-subtitle>Position</ion-card-subtitle>
            <ion-card-title>Name</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota,
            Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="../../../assets/person.png" />
          <ion-card-header>
            <ion-card-subtitle>Position</ion-card-subtitle>
            <ion-card-title>Name</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota,
            Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border" style="text-align: center">
  <ion-toolbar style="color: white">
    <ion-title>Copyright @2021 by CDCS</ion-title>
    <ion-card-subtitle
      ><i
        >For the Further information, please contact Dr.Minh Huynh</i
      ></ion-card-subtitle
    >
  </ion-toolbar>
</ion-footer>