<ion-content>
  <ion-card class="form">
    <ion-card-header style="text-align: center">
      <ion-card-title> Reset your password </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email address</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button expand="block" shape="round" (click)="resetPassword()"
      >Reset Password</ion-button
    >
  </ion-card>
</ion-content>
