ion-card{
    border-radius: 5%;
}
ion-card.form{
    margin: 0 35%;
    padding-top: 1cm;
    margin-top: 3cm;
}
ion-button{
    margin-top: 5%;
}
@media screen and (max-width: 992px) {
    .form{
        margin-top:30%;
        margin-left: 1%;
        width: 100%;
    }
    ion-button{
        width: 100%;
    }
}