@import "../../../theme/variables.scss";

@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }

  .header {
    display: flex;
    background-color: $featured;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  ion-toolbar {
    margin: 0;
    height: 100% !important;
    ion-menu-button {
      color: white;
    }
  }
  ion-header.mobile-header {
    display: block;
    padding: 0;
    margin: 0;
    height: 7vh !important;
  }

  .header {
    display: none;
  }
}
.active-item {
  background: $featured;
  color: "featured";
  transition: background-color 2s ease-out 100ms;
  border-bottom: 1px solid white;
}
.active-item:hover {
  background-color: $highlight;
}
ion-button.logout {
  background-color: $highlight;
}
