<ion-content scrollY="false">
  <ion-row (click)="Close()">
    <h2>Project CDCS</h2>
    In this project, Dr. Huynh worked with and guided a team of students in CMPS
    411 to create a platform to showcase and honor people. In the context of the
    CMPS 411 project, the focus is on the showcase of WWII veterans. This
    platform features a home page, the listing or showcase functionality, along
    with other pages such as about-us and contact-info. This platform functions
    like a webpage but underneath the webpage is embedded with advanced features
    of a webapp. The technology used in the development of this platform include
    HTML, CSS, as well as Angular (web program language), Firebase, and Ionic
    framework.
    <br />The platform first takes input from a spreadsheet, then transfers the
    information to Firebase by a click of a button. From Firebase, the webapp
    retrieves the information and display it. Users may browse or search for a
    specific information. To use the platform, users are required to sign up and
    then sign in. The authentication process is supported by Firebase and
    Angular code. There is also an Admin functionality to help maintain the
    users of the webapp.<br />
    The platform once finalized can be used in many different contexts.
    Potential applications of this platform include: A memorial site for
    veteran, a site to honor successful students, graduates, or alumni, a
    showcase of people within a community, a directory of local businesses,
    organizations, etc.
  </ion-row>
</ion-content>
